
include _menu-list.pug

//- .modal
//- 	.modal_inner
nav(data-modal-content="menu")
	.menu
		.menu__inner
			ul.menu__list
				li.menu__item(class = key==='top' ? 'menu__item--selected' : '')
					a.menu_link(href=menu.top.link) #{menu.top.title} #{menu.top.title_jp}
				li.menu__item
					a.menu_link(href=menu.subpage.link) #{menu.subpage.title} #{menu.subpage.title_jp}
				li.menu__item
					a.menu_link(href="#") リンク3
				li.menu__item
					a.menu_link(href="#") リンク4
				li.menu__item
					a.menu_link(href="#") リンク1
				li.menu__item
					a.menu_link(href="#") リンク2
				li.menu__item
					a.menu_link(href="#") リンク3
				li.menu__item
					a.menu_link(href="#") リンク4
				li.menu__item
					a.menu_link(href="#") リンク1
				li.menu__item
					a.menu_link(href="#") リンク2
				li.menu__item
					a.menu_link(href="#") リンク3
				li.menu__item
					a.menu_link(href="#") リンク4
				li.menu__item
					a.menu_link(href="#") リンク1
				li.menu__item
					a.menu_link(href="#") リンク2
				li.menu__item
					a.menu_link(href="#") リンク3
				li.menu__item
					a.menu_link(href="#") リンク4
				li.menu__item
					a.menu_link(href="#") リンク1
				li.menu__item
					a.menu_link(href="#") リンク2
				li.menu__item
					a.menu_link(href="#") リンク3
				li.menu__item
					a.menu_link(href="#") リンク4
				li.menu__item
					a.menu_link(href="#") リンク3
				li.menu__item
					a.menu_link(href="#") リンク4
				li.menu__item
					a.menu_link(href="#") リンク1
				li.menu__item
					a.menu_link(href="#") リンク2
				li.menu__item
					a.menu_link(href="#") リンク3
				li.menu__item
					a.menu_link(href="#") リンク4
				li.menu__item
					a.menu_link(href="#") リンク1
				li.menu__item
					a.menu_link(href="#") リンク2
				li.menu__item
					a.menu_link(href="#") リンク3
				li.menu__item
					a.menu_link(href="#") リンク4
				li.menu__item
					a.menu_link(href="#") リンク3
				li.menu__item
					a.menu_link(href="#") リンク4
				li.menu__item
					a.menu_link(href="#") リンク1
				li.menu__item
					a.menu_link(href="#") リンク2
				li.menu__item
					a.menu_link(href="#") リンク3
				li.menu__item
					a.menu_link(href="#") リンク4
				li.menu__item
					a.menu_link(href="#") リンク1
				li.menu__item
					a.menu_link(href="#") リンク2
				li.menu__item
					a.menu_link(href="#") リンク3
				li.menu__item
					a.menu_link(href="#") リンク4