
if key !== "person01"

	.person-index__item(class=key !== "person" ? "swiper-slide" : "")
		
		.person-index__item-cover
			.person-index__item-cover-content
				p.person-index__item-cover-label
					svg(aria-label="PERSON" viewBox="0 0 159 32")
						use(xlink:href=assets_path + image_dir + 'sprite.svg#ryumin-person')
					span
						| 01
				h2.person-index__item-cover-title
					+picture({filename:'person-index-01-title-centering'},{type:'svg',fallbackType:''},{alt:'日本橋エリアの街づくりに携わる誇りを胸に'},{classes:['']},{width:'496'},{height:'118'},{breakpoint:false},{lazyload:true},{retina:false})
			.person-index__item-cover-bg
				+picture({filename:'person-index-01-bg'},{type:'webp',fallbackType:'jpg'},{alt:''},{classes:['']},{width:'1400'},{height:'526'},{breakpoint:true},{lazyload:true},{retina:true})

		.person-index__item-person
			.person-index__item-person-photo
				+picture({filename:'person-index-01-person'},{type:'webp',fallbackType:'jpg'},{alt:''},{classes:['']},{width:'458'},{height:'526'},{breakpoint:true},{lazyload:true},{retina:true})
			.person-index__item-person-content-wrapper
				.person-index__item-person-content
					.person-index__item-person-description
						h3.person-index__item-person-description-title
							+picture({filename:'person-index-01-title-left'},{type:'svg',fallbackType:''},{alt:'日本橋エリアの街づくりに携わる誇りを胸に'},{classes:['']},{width:'360'},{height:'80'},{breakpoint:false},{lazyload:true},{retina:false})
						p.person-index__item-person-description-text
							| 新卒で配属となった総務部から、再開発が進む日本橋エリアにある大型複合ビル「COREDO室町1」の担当PMになった市川和輝。念願叶って就いたPMだったが知識を吸収するのは容易ではない。持てる武器は持ち前のフットワークの軽さとコミュニケーション力。新たなキャリアを切り拓く市川の挑戦を追う。
					.person-index__item-person-data
						p.person-index__item-person-data-label
							svg(aria-label="PERSON" viewBox="0 0 159 32")
								use(xlink:href=assets_path + image_dir + 'sprite.svg#ryumin-person')
							span
								| 01
						p.person-index__item-person-data-name
							span.person-index__item-person-data-name-jp
								| 市川 和輝
							span.person-index__item-person-data-name-en
								| KAZUKI ICHIKAWA
						p.person-index__item-person-data-text
							| オフィス事業推進本部
							br
							| エリアマネジメント事業部
							br
							| 日本橋エリアマネジメント
							br
							| グループ2
							br
							| 総合職　2019年入社

		a.person-index__item-link.button(href=root_path + "person/person01.html")
			span.button__text
				| VIEW MORE
			svg(aria-label="→" viewBox="0 0 34 32").button__icon.button__icon--arrow 
				use(xlink:href=assets_path + image_dir + 'sprite.svg#arrow-small')

if key !== "person02"

	.person-index__item(class=key !== "person" ? "swiper-slide" : "")
		
		.person-index__item-cover
			.person-index__item-cover-content
				p.person-index__item-cover-label
					svg(aria-label="PERSON" viewBox="0 0 159 32")
						use(xlink:href=assets_path + image_dir + 'sprite.svg#ryumin-person')
					span
						| 02
				h2.person-index__item-cover-title
					+picture({filename:'person-index-02-title-centering'},{type:'svg',fallbackType:''},{alt:'話題の八重洲エリアに新たな価値を届けるために'},{classes:['']},{width:'541'},{height:'118'},{breakpoint:false},{lazyload:true},{retina:false})
			.person-index__item-cover-bg
				+picture({filename:'person-index-02-bg'},{type:'webp',fallbackType:'jpg'},{alt:''},{classes:['']},{width:'1400'},{height:'526'},{breakpoint:true},{lazyload:true},{retina:true})

		.person-index__item-person
			.person-index__item-person-photo
				+picture({filename:'person-index-02-person'},{type:'webp',fallbackType:'jpg'},{alt:''},{classes:['']},{width:'458'},{height:'526'},{breakpoint:true},{lazyload:true},{retina:true})
			.person-index__item-person-content-wrapper
				.person-index__item-person-content
					.person-index__item-person-description
						h3.person-index__item-person-description-title
							+picture({filename:'person-index-02-title-left'},{type:'svg',fallbackType:''},{alt:''},{classes:['話題の八重洲エリアに新たな価値を届けるために']},{width:'389'},{height:'79'},{breakpoint:false},{lazyload:true},{retina:false})
						p.person-index__item-person-description-text
							| リノベーション事業部を経て、赤坂、日比谷、青山でPMとしての基礎を学んだ横山重政は現在、注目を集める「東京ミッドタウン八重洲」の新規立ち上げに取り組んでいる。オフィスや商業施設だけでなく、小学校や住居エリアを含む前代未聞の大プロジェクトに携わる横山。プレッシャーとプライドの間で、何を思うのか。
					.person-index__item-person-data
						p.person-index__item-person-data-label
							svg(aria-label="PERSON" viewBox="0 0 159 32")
								use(xlink:href=assets_path + image_dir + 'sprite.svg#ryumin-person')
							span
								| 02
						p.person-index__item-person-data-name
							span.person-index__item-person-data-name-jp
								| 横山 重政
							span.person-index__item-person-data-name-en
								| SHIGEMASA YOKOYAMA
						p.person-index__item-person-data-text
							| オフィス事業推進本部
							br
							| エリアマネジメント事業部
							br
							| ミッドタウン八重洲オフィス
							br
							| 総合職　2012年入社

		a.person-index__item-link.button(href=root_path + "person/person02.html")
			span.button__text
				| VIEW MORE
			svg(aria-label="→" viewBox="0 0 34 32").button__icon.button__icon--arrow 
				use(xlink:href=assets_path + image_dir + 'sprite.svg#arrow-small')

if key !== "person03"

	.person-index__item(class=key !== "person" ? "swiper-slide" : "")
		
		.person-index__item-cover
			.person-index__item-cover-content
				p.person-index__item-cover-label
					svg(aria-label="PERSON" viewBox="0 0 159 32")
						use(xlink:href=assets_path + image_dir + 'sprite.svg#ryumin-person')
					span
						| 03
				h2.person-index__item-cover-title
					+picture({filename:'person-index-03-title-centering'},{type:'svg',fallbackType:''},{alt:'施設の立ち上げという困難な業務に携われる喜び'},{classes:['']},{width:'558'},{height:'118'},{breakpoint:false},{lazyload:true},{retina:false})
			.person-index__item-cover-bg
				+picture({filename:'person-index-03-bg'},{type:'webp',fallbackType:'jpg'},{alt:''},{classes:['']},{width:'1400'},{height:'526'},{breakpoint:true},{lazyload:true},{retina:true})

		.person-index__item-person
			.person-index__item-person-photo
				+picture({filename:'person-index-03-person'},{type:'webp',fallbackType:'jpg'},{alt:''},{classes:['']},{width:'458'},{height:'526'},{breakpoint:true},{lazyload:true},{retina:true})
			.person-index__item-person-content-wrapper
				.person-index__item-person-content
					.person-index__item-person-description
						h3.person-index__item-person-description-title
							+picture({filename:'person-index-03-title-left'},{type:'svg',fallbackType:''},{alt:''},{classes:['施設の立ち上げという困難な業務に携われる喜び']},{width:'406'},{height:'79'},{breakpoint:false},{lazyload:true},{retina:false})
						p.person-index__item-person-description-text
							| ビジネスソリューションに携わる柴田優花は現在、「東京ミッドタウン八重洲」内に開設予定のカンファレンス施設の立ち上げに携わっている。プレッシャーを感じながら、自らのアイデアやイメージを形にしていく過程はやりがいに満ちている。MFBMが掲げるブランドビジョンに惹かれ入社した彼女は、どんなキャリアを歩もうとしているのか。
					.person-index__item-person-data
						p.person-index__item-person-data-label
							svg(aria-label="PERSON" viewBox="0 0 159 32")
								use(xlink:href=assets_path + image_dir + 'sprite.svg#ryumin-person')
							span
								| 03
						p.person-index__item-person-data-name
							span.person-index__item-person-data-name-jp
								| 柴田 優香
							span.person-index__item-person-data-name-en
								| YUKA SHIBATA
						p.person-index__item-person-data-text
							| ビジネスソリューション
							br
							| 事業推進本部
							br
							| ミクストシーングループ１
							br
							| 総合職　2019年入社

		a.person-index__item-link.button(href=root_path + "person/person03.html")
			span.button__text
				| VIEW MORE
			svg(aria-label="→" viewBox="0 0 34 32").button__icon.button__icon--arrow 
				use(xlink:href=assets_path + image_dir + 'sprite.svg#arrow-small')

if key !== "person04"

	.person-index__item(class=key !== "person" ? "swiper-slide" : "")
		
		.person-index__item-cover
			.person-index__item-cover-content
				p.person-index__item-cover-label
					svg(aria-label="PERSON" viewBox="0 0 159 32")
						use(xlink:href=assets_path + image_dir + 'sprite.svg#ryumin-person')
					span
						| 04
				h2.person-index__item-cover-title
					+picture({filename:'person-index-04-title-centering'},{type:'svg',fallbackType:''},{alt:'PMで培った力で、ワークスタイルの変革に挑む'},{classes:['']},{width:'572'},{height:'118'},{breakpoint:false},{lazyload:true},{retina:false})
			.person-index__item-cover-bg
				+picture({filename:'person-index-04-bg'},{type:'webp',fallbackType:'jpg'},{alt:''},{classes:['']},{width:'1400'},{height:'526'},{breakpoint:true},{lazyload:true},{retina:true})

		.person-index__item-person
			.person-index__item-person-photo
				+picture({filename:'person-index-04-person'},{type:'webp',fallbackType:'jpg'},{alt:''},{classes:['']},{width:'458'},{height:'526'},{breakpoint:true},{lazyload:true},{retina:true})
			.person-index__item-person-content-wrapper
				.person-index__item-person-content
					.person-index__item-person-description
						h3.person-index__item-person-description-title
							+picture({filename:'person-index-04-title-left'},{type:'svg',fallbackType:''},{alt:''},{classes:['PMで培った力で、ワークスタイルの変革に挑む']},{width:'413'},{height:'80'},{breakpoint:false},{lazyload:true},{retina:false})
						p.person-index__item-person-description-text
							| 13年にわたりリーシング業務、PM業務に携わっていた関口真人は現在、新たな挑戦に取り組んでいる。2022年4月から、法人向けシェアリングオフィス「ワークスタイリング」の本部運営業務に携わっているのだ。会社や自宅では経験し得ない体験価値をいかに創出するか。店舗運営という未知の領域に挑む責任と充実感。関口の模索は今日も続く。
					.person-index__item-person-data
						p.person-index__item-person-data-label
							svg(aria-label="PERSON" viewBox="0 0 159 32")
								use(xlink:href=assets_path + image_dir + 'sprite.svg#ryumin-person')
							span
								| 04
						p.person-index__item-person-data-name
							span.person-index__item-person-data-name-jp
								| 関口 真人
							span.person-index__item-person-data-name-en
								| MASATO SEKIGUCHI
						p.person-index__item-person-data-text
							| ビジネスソリューション
							br
							| 事業推進本部
							br
							| 事業一部
							br
							| ワークスタイリンググループ
							br
							| 総合職　2009年入社

		a.person-index__item-link.button(href=root_path + "person/person04.html")
			span.button__text
				| VIEW MORE
			svg(aria-label="→" viewBox="0 0 34 32").button__icon.button__icon--arrow 
				use(xlink:href=assets_path + image_dir + 'sprite.svg#arrow-small')

if key !== "person05"

	.person-index__item(class=key !== "person" ? "swiper-slide" : "")
		
		.person-index__item-cover
			.person-index__item-cover-content
				p.person-index__item-cover-label
					svg(aria-label="PERSON" viewBox="0 0 159 32")
						use(xlink:href=assets_path + image_dir + 'sprite.svg#ryumin-person')
					span
						| 05
				h2.person-index__item-cover-title
					+picture({filename:'person-index-05-title-centering'},{type:'svg',fallbackType:''},{alt:'正確・迅速な事務会計は、お客様を笑顔にする'},{classes:['']},{width:'526'},{height:'117'},{breakpoint:false},{lazyload:true},{retina:false})
			.person-index__item-cover-bg
				+picture({filename:'person-index-05-bg'},{type:'webp',fallbackType:'jpg'},{alt:''},{classes:['']},{width:'1400'},{height:'526'},{breakpoint:true},{lazyload:true},{retina:true})

		.person-index__item-person
			.person-index__item-person-photo
				+picture({filename:'person-index-05-person'},{type:'webp',fallbackType:'jpg'},{alt:''},{classes:['']},{width:'458'},{height:'526'},{breakpoint:true},{lazyload:true},{retina:true})
			.person-index__item-person-content-wrapper
				.person-index__item-person-content
					.person-index__item-person-description
						h3.person-index__item-person-description-title
							+picture({filename:'person-index-05-title-left'},{type:'svg',fallbackType:''},{alt:''},{classes:['正確・迅速な事務会計は、お客様を笑顔にする']},{width:'379'},{height:'80'},{breakpoint:false},{lazyload:true},{retina:false})
						p.person-index__item-person-description-text
							| オフィスビルに携わる仕事がしたいと熱望しMFBMを選んだ大類有紗は現在、業務推進部の事務会計グループで、20棟にのぼるビルの決算や運営にまつわる事務を担っている。持ち前のタスク管理力とコミュニケーション力で正確性と迅速性が求められる業務に取り組む。そんな彼女にビルオーナーやテナントに貢献する事務会計グループの魅力を聞いた。
					.person-index__item-person-data
						p.person-index__item-person-data-label
							svg(aria-label="PERSON" viewBox="0 0 159 32")
								use(xlink:href=assets_path + image_dir + 'sprite.svg#ryumin-person')
							span
								| 05
						p.person-index__item-person-data-name
							span.person-index__item-person-data-name-jp
								| 大類 有紗
							span.person-index__item-person-data-name-en
								| ARISA ORUI
						p.person-index__item-person-data-text
							| オフィス事業推進本部
							br
							| 業務推進部
							br
							| 事務会計グループ
							br
							| 一般職　2019年入社

		a.person-index__item-link.button(href=root_path + "person/person05.html")
			span.button__text
				| VIEW MORE
			svg(aria-label="→" viewBox="0 0 34 32").button__icon.button__icon--arrow 
				use(xlink:href=assets_path + image_dir + 'sprite.svg#arrow-small')