

-
	var root_path = '/'
	var assets_path = 'assets/' // 外部ファイルのルートパス（wpでは置き換え：<?php echo get_template_directory_uri(); ?>）
	var image_dir = 'images/'
	var js_dir = 'js/'
	var video_dir = 'videos/'
	var css_dir = 'css/'
	var libs_dir = 'libs/'
	var favicon_dir = 'favicon/'
	var android_icon = 'android-chrome-192x192.png'
	var apple_icon = 'apple-touch-icon.png'
	var favicon = 'favicon.ico'
	var og_image = ''
	var twitter_card = ''
	var domain = ''
	var g_page_title = 'MFBM RECRUITING | 三井不動産ビルマネジメント'
	var g_page_description = 'ダミー 1982年の会社設立時より蓄積し続けてきたビル管理のノウハウを結集。物件の特性・規模にあわせスタッフ常駐型や、巡回管理型など、様々な管理サービスを提供しています。'
	var g_page_keywords = 'キーワード1,キーワード2'
	var version = '?ver=230210'

-
	var pages = {
		top : {
			url : '',
			title : `TOP | ${g_page_title}`,
			description : g_page_description,
			keywords : g_page_keywords
		},
		about : {
			url : 'about/',
			title : `MFBMを知る | ${g_page_title}`,
			description : g_page_description,
			keywords : g_page_keywords
		},
		about01 : {
			url : 'about/about01.html',
			title : `MFBMの役割 | ${g_page_title}`,
			description : g_page_description,
			keywords : g_page_keywords
		},
		about02 : {
			url : 'about/about02.html',
			title : `MFBMの役割 | ${g_page_title}`,
			description : g_page_description,
			keywords : g_page_keywords
		},
		about03 : {
			url : 'about/about03.html',
			title : `ブランドビジョン | ${g_page_title}`,
			description : g_page_description,
			keywords : g_page_keywords
		},
		about04 : {
			url : 'about/about04.html',
			title : `MFBMの実績 | ${g_page_title}`,
			description : g_page_description,
			keywords : g_page_keywords
		},
		business : {
			url : 'business.html',
			title : `事業を知る | ${g_page_title}`,
			description : g_page_description,
			keywords : g_page_keywords
		},
		job : {
			url : 'job.html',
			title : `仕事を知る | ${g_page_title}`,
			description : g_page_description,
			keywords : g_page_keywords
		},
		project : {
			url : 'project.html',
			title : `PROJECT STORY | ${g_page_title}`,
			description : g_page_description,
			keywords : g_page_keywords
		},
		project : {
			url : 'project.html',
			title : `PROJECT STORY | ${g_page_title}`,
			description : g_page_description,
			keywords : g_page_keywords
		},
		person : {
			url : 'person/',
			title : `働く人を知る | ${g_page_title}`,
			description : g_page_description,
			keywords : g_page_keywords
		},
		person01 : {
			url : 'person/person01.html',
			title : `働く人を知る01 | ${g_page_title}`,
			description : g_page_description,
			keywords : g_page_keywords
		},
		person02 : {
			url : 'person/person02.html',
			title : `働く人を知る02 | ${g_page_title}`,
			description : g_page_description,
			keywords : g_page_keywords
		},
		person03 : {
			url : 'person/person03.html',
			title : `働く人を知る03 | ${g_page_title}`,
			description : g_page_description,
			keywords : g_page_keywords
		},
		person04 : {
			url : 'person/person04.html',
			title : `働く人を知る04 | ${g_page_title}`,
			description : g_page_description,
			keywords : g_page_keywords
		},
		person05 : {
			url : 'person/person05.html',
			title : `働く人を知る05 | ${g_page_title}`,
			description : g_page_description,
			keywords : g_page_keywords
		},
		culture : {
			url : 'culture.html',
			title : `社風を知る | ${g_page_title}`,
			description : g_page_description,
			keywords : g_page_keywords
		},
		recruit : {
			url : 'recruit/',
			title : `採用を知る | ${g_page_title}`,
			description : g_page_description,
			keywords : g_page_keywords
		},
		recruit01 : {
			url : 'recruit/recruit01.html',
			title : `研修教育制度 | ${g_page_title}`,
			description : g_page_description,
			keywords : g_page_keywords
		},
		recruit02 : {
			url : 'recruit/recruit02.html',
			title : `FAQ | ${g_page_title}`,
			description : g_page_description,
			keywords : g_page_keywords
		},
		recruit03 : {
			url : 'recruit/recruit03.html',
			title : `募集要項 | ${g_page_title}`,
			description : g_page_description,
			keywords : g_page_keywords
		},
		recruit04 : {
			url : 'recruit/recruit04.html',
			title : `お問い合わせ | ${g_page_title}`,
			description : g_page_description,
			keywords : g_page_keywords
		},
		movie : {
			url : 'movie.html',
			title : `動画で知る | ${g_page_title}`,
			description : g_page_description,
			keywords : g_page_keywords
		},
		index_test : {
			url : 'index-test.html',
			title : `テスト | ${g_page_title}`,
			description : g_page_description,
			keywords : g_page_keywords
		},
		index_sp : {
			url : 'index-test.html',
			title : `テスト | ${g_page_title}`,
			description : g_page_description,
			keywords : g_page_keywords
		}
	}