

-
	var root_path = '/'
	var assets_path = 'assets/' // 外部ファイルのルートパス（wpでは置き換え：<?php echo get_template_directory_uri(); ?>）
	var image_dir = 'images/'
	var js_dir = 'js/'
	var video_dir = 'videos/'
	var css_dir = 'css/'
	var libs_dir = 'libs/'
	var favicon_dir = 'favicon/'
	var android_icon = 'android-chrome-192x192.png'
	var apple_icon = 'apple-touch-icon.png'
	var favicon = 'favicon.ico'
	var og_image = ''
	var twitter_card = ''
	var domain = ''
	var g_page_title = 'MFBM RECRUITING | 三井不動産ビルマネジメント'
	var g_page_description = 'ビジネスシーンの明日を変えていく 三井不動産ビルマネジメント新卒採用サイト。MFBMの事業内容や社員インタビューを掲載しています。'
	var g_page_keywords = '新卒採用,採用情報,採用,MFBM,三井不動産ビルマネジメント,リクルート,ビル,運営,プロパティマネジメント,テナント,リーシング,アウトソーシング'
	var version = '?ver=230221-11'

-
	var pages = {
		top : {
			url : '',
			title : `TOP | ${g_page_title}`,
			description : g_page_description,
			keywords : g_page_keywords
		},
		about : {
			url : 'about/',
			title : `MFBMを知る | ${g_page_title}`,
			description : "ビジネスの成長を求める企業。仕事と暮らしに豊かさを望む人々。その姿はオフィスビルというステージの、様々な場面（シーン）の中にあります。私たちMFBMはそんなビジネスシーンに新たな価値を提供するため、挑戦を続けています。",
			keywords : g_page_keywords
		},
		about01 : {
			url : 'about/about01.html',
			title : `MFBMの役割 | ${g_page_title}`,
			description : "MFBMの「役割」を紹介します。",
			keywords : g_page_keywords
		},
		about02 : {
			url : 'about/about02.html',
			title : `ブランドビジョン | ${g_page_title}`,
			description : "MFBMの「ブランドビジョン」を紹介します。",
			keywords : g_page_keywords
		},
		about03 : {
			url : 'about/about03.html',
			title : `MFBMの実績 | ${g_page_title}`,
			description : "MFBMの「実績」を紹介します。",
			keywords : g_page_keywords
		},
		business : {
			url : 'business.html',
			title : `事業を知る | ${g_page_title}`,
			description : "従来のオフィスビルマネジメントの役割を超えた、オフィスビルを中心とした新たな街づくりへとつながる、MFBMのビジネスフィールドについて紹介します。",
			keywords : g_page_keywords
		},
		job : {
			url : 'job.html',
			title : `仕事を知る | ${g_page_title}`,
			description : "変化していくビジネス、社会のニーズに応え続け、さらに変化を先んじて捉えることで、新たな価値を主体的に生み出す。テナント企業と働く人々の満足度を高めオフィスビルの価値向上を実現する、MFBMならではのソリューションについて紹介します。",
			keywords : g_page_keywords
		},
		project : {
			url : 'project.html',
			title : `PROJECT STORY | ${g_page_title}`,
			description : g_page_description,
			keywords : g_page_keywords
		},
		project : {
			url : 'project.html',
			title : `PROJECT STORY | ${g_page_title}`,
			description : "「東京ミッドタウン日比谷」を舞台に多様な角度からお客様に応え続けるMFBMの提供価値を紹介します。",
			keywords : g_page_keywords
		},
		person : {
			url : 'person/',
			title : `働く人を知る | ${g_page_title}`,
			description : "業界の枠を広げ新たな領域へと挑戦を続ける、MFBMで働く社員のインタビュー記事。",
			keywords : g_page_keywords
		},
		person01 : {
			url : 'person/person01.html',
			title : `働く人を知る01 | ${g_page_title}`,
			description : "業界の枠を広げ新たな領域へと挑戦を続ける、MFBMで働く社員のインタビュー記事。",
			keywords : g_page_keywords
		},
		person02 : {
			url : 'person/person02.html',
			title : `働く人を知る02 | ${g_page_title}`,
			description : "業界の枠を広げ新たな領域へと挑戦を続ける、MFBMで働く社員のインタビュー記事。",
			keywords : g_page_keywords
		},
		person03 : {
			url : 'person/person03.html',
			title : `働く人を知る03 | ${g_page_title}`,
			description : "業界の枠を広げ新たな領域へと挑戦を続ける、MFBMで働く社員のインタビュー記事。",
			keywords : g_page_keywords
		},
		person04 : {
			url : 'person/person04.html',
			title : `働く人を知る04 | ${g_page_title}`,
			description : "業界の枠を広げ新たな領域へと挑戦を続ける、MFBMで働く社員のインタビュー記事。",
			keywords : g_page_keywords
		},
		person05 : {
			url : 'person/person05.html',
			title : `働く人を知る05 | ${g_page_title}`,
			description : "業界の枠を広げ新たな領域へと挑戦を続ける、MFBMで働く社員のインタビュー記事。",
			keywords : g_page_keywords
		},
		culture : {
			url : 'culture.html',
			title : `社風を知る | ${g_page_title}`,
			description : "個人の強みを活かしながらも、個では達成できない目標をチームで成し遂げる。それが私たちMFBMが目指す姿です。環境変化の激しいVUCA時代に柔軟に対応し、ビジネスシーンに新たな価値を提供し続ける、MFBMのカルチャーの一端を紹介します。",
			keywords : g_page_keywords
		},
		recruit : {
			url : 'recruit/',
			title : `採用を知る | ${g_page_title}`,
			description : "MFBMの「採用情報」を紹介します。",
			keywords : g_page_keywords
		},
		recruit01 : {
			url : 'recruit/recruit01.html',
			title : `研修教育制度 | ${g_page_title}`,
			description : "MFBMの「採用情報」を紹介します。",
			keywords : g_page_keywords
		},
		recruit02 : {
			url : 'recruit/recruit02.html',
			title : `FAQ | ${g_page_title}`,
			description : "MFBMの「採用情報」を紹介します。",
			keywords : g_page_keywords
		},
		recruit03 : {
			url : 'recruit/recruit03.html',
			title : `募集要項 | ${g_page_title}`,
			description : "MFBMの「採用情報」を紹介します。",
			keywords : g_page_keywords
		},
		recruit04 : {
			url : 'recruit/recruit04.html',
			title : `お問い合わせ | ${g_page_title}`,
			description : "MFBMの「採用情報」を紹介します。",
			keywords : g_page_keywords
		},
		movie : {
			url : 'movie.html',
			title : `動画で知る | ${g_page_title}`,
			description : "動画コンテンツでMFBMの職場の風土や手掛けるプロジェクト等を紹介します。",
			keywords : g_page_keywords
		},
	}