extends include/_layout.pug

block vars
	include include/_vars.pug
	- var key = "top"
	- var page = pages[key]
	- var root_path = '';
	- var assets_path = 'assets/';


block contents

	main.main

		.top-cover
			h1.top-cover__title
				+picture({filename:'top-section-end-title'},{type:'svg',fallbackType:''},{alt:'ビジネスシーンの明日を変えていく'},{classes:['']},{width:'350'},{height:'107'},{breakpoint:false},{lazyload:true},{retina:false})

		.ep

			section.ep__section#prologue(data-ep="prologue")
					
				.top-section
					h2.top-section__title
						+picture({filename:'top-section-01-title-01'},{type:'svg',fallbackType:''},{alt:'ビジネスシーンの明日を変えていく'},{classes:['']},{width:'350'},{height:'107'},{breakpoint:false},{lazyload:true},{retina:false})
					a.top-section__5minute(href="https://vimeo.com/763741619/0d034fdaf4" target="_blank" rel="noopener noreferrer")
						+picture({filename:'top-5-minute'},{type:'svg',fallbackType:''},{alt:'MFBM in 5 minute'},{classes:['']},{width:'186'},{height:'186'},{breakpoint:false},{lazyload:true},{retina:false})
						+picture({filename:'top-5-minute-invert'},{type:'svg',fallbackType:''},{alt:''},{classes:['']},{width:'186'},{height:'186'},{breakpoint:false},{lazyload:true},{retina:false})

			section.ep__section#prologue2(data-ep="prologue2")

				.top-lead
					h2.top-lead__title
						+picture({filename:'top-section-01-title-03'},{type:'svg',fallbackType:''},{alt:'5年後、10年後の未来。人々はどのように働き、暮らしているだろうか。'},{classes:['']},{width:'534'},{height:'225'},{breakpoint:false},{lazyload:true},{retina:false})
					.top-lead__body
						.top-lead__body-inner
							p
								| 次々と起こる技術革新。多様化する市場ニーズ。
								br
								| 短期化する事業サイクル。
								br
								| 時代や環境の目まぐるしい変化は「働き方」にも影響を与えビジネスシーンは大きく様変わりしました。
							p
								| 常に進化し、社会に新しい価値を創出し続けたい「企業」と自分らしい働き方、生き方をデザインしたい「個人」。
							p
								| 「企業」と「個人」が
								br
								| 共に“新しい働き方”を求める時代に必要なものとは何か？
							p
								| その答えは「オフィス」というステージの、
								br
								| 様々な場面（シーン）の中にあると
								br
								| 私たち三井不動産ビルマネジメントは考えます。

							p
								| 「企業」に成長をもたらし、働く「個人」を豊かにする。
								br
								| その拠点となる新しい時代の「オフィスビル」。
								br
								| それはオフィスを知り尽くした私たちにしか提供できない
								br
								| 従来のオフィスの価値を超えた「オフィスビル」。
								br
								| 私たちはそんな新たな価値を追求し続け、挑戦しています。
								br
								| 「ビジネスシーンの明日を変えていく」
								br
								| さぁ、ともに“新しい未来”に向かって挑戦しよう。

			.ep__01-02-bg
				+picture({filename:'top-section-01-bg'},{type:'webp',fallbackType:'jpg'},{alt:''},{classes:['']},{width:'1400'},{height:'750'},{breakpoint:false},{lazyload:true},{retina:true})


			section.ep__section#about(data-ep="about" data-pc-href=root_path + "about/")

				.top-about
					.top-about__lead
						h2.top-about__lead__title
							+picture({filename:'top-section-02-title'},{type:'svg',fallbackType:''},{alt:'新たな価値を提供する'},{classes:['']},{width:'591'},{height:'225'},{breakpoint:false},{lazyload:true},{retina:false})
						.top-about__lead__body(data-sp-ep="about")
							p
								| ビジネスの成長を求める企業。仕事と暮らしに豊かさを望む人々。その姿はオフィスビルというステージの、様々な場面（シーン）の中にあります。私たちMFBMはそんなビジネスシーンに新たな価値を提供するため、挑戦を続けています。
							p
								| 「ビジネスシーンの明日を変えていく」。
								br
								| 私たちMFBMは、三井不動産グループの中核企業としてビジネスシーンから新たな未来を提供します。
					

					.top-about__blocks-content
						.top-about__blocks-items
							.top-about__blocks-item
								+picture({filename:'top-section-02-diamond-01'},{type:'webp',fallbackType:'png'},{alt:''},{classes:['']},{width:'372'},{height:'372'},{breakpoint:false},{lazyload:true},{retina:true})
							.top-about__blocks-item
								+picture({filename:'top-section-02-diamond-02'},{type:'webp',fallbackType:'png'},{alt:''},{classes:['']},{width:'405'},{height:'405'},{breakpoint:false},{lazyload:true},{retina:true})
							.top-about__blocks-item
								+picture({filename:'top-section-02-diamond-03'},{type:'webp',fallbackType:'png'},{alt:''},{classes:['']},{width:'240'},{height:'240'},{breakpoint:false},{lazyload:true},{retina:true})
							.top-about__blocks-item
								+picture({filename:'top-section-02-diamond-04'},{type:'webp',fallbackType:'png'},{alt:''},{classes:['']},{width:'240'},{height:'240'},{breakpoint:false},{lazyload:true},{retina:true})
							.top-about__blocks-item
								+picture({filename:'top-section-02-diamond-05'},{type:'webp',fallbackType:'png'},{alt:''},{classes:['']},{width:'440'},{height:'440'},{breakpoint:false},{lazyload:true},{retina:true})
							.top-about__blocks-item
								+picture({filename:'top-section-02-diamond-06'},{type:'webp',fallbackType:'png'},{alt:''},{classes:['']},{width:'220'},{height:'220'},{breakpoint:false},{lazyload:true},{retina:true})
							.top-about__blocks-item
								+picture({filename:'top-section-02-diamond-07'},{type:'webp',fallbackType:'png'},{alt:''},{classes:['']},{width:'496'},{height:'496'},{breakpoint:false},{lazyload:true},{retina:true})

					.top-about__bg
						.top-about__bg-fill
						.top-about__bg-image
							+picture({filename:'top-section-02-bg'},{type:'webp',fallbackType:'jpg'},{alt:''},{classes:['']},{width:'1400'},{height:'750'},{breakpoint:true},{lazyload:true},{retina:true})

			section.ep__section#business(data-ep="business" data-pc-href=root_path + "business.html")

				.mfbm-field
					.mfbm-field__lead
						h2.mfbm-field__lead-title
							+picture({filename:'top-section-03-title'},{type:'svg',fallbackType:''},{alt:'ビジネスシーンのすべてがMFBMのフィールド'},{classes:['']},{width:'404'},{height:'254'},{breakpoint:false},{lazyload:true},{retina:false})
						.mfbm-field__lead-body
							p
								| 私たちMFBMは、オフィスが入居するビルの運営を担う「ビル経営事業」と、テナント企業の成長・発展に貢献する「ソリューションサービス事業」を軸に、オフィスビルを舞台としたビジネスシーンにおける存在感をさらに高めています。
							p
								| 従来のオフィスビルマネジメントの役割を超えた、オフィスビルを中心とした新たな街づくり、「エリアマネジメント」へとつながる、MFBMのビジネスフィールドについて紹介します。

					.mfbm-field__map
						.mfbm-field__map-inner
							.mfbm-field__map-items
								+picture({filename:'top-section-03-base'},{type:'svg',fallbackType:''},{alt:''},{classes:['']},{width:'1526.9049'},{height:'970.2761'},{breakpoint:false},{lazyload:true},{retina:false})
								+picture({filename:'top-section-03-park-grass'},{type:'svg',fallbackType:''},{alt:''},{classes:['']},{width:'314.6831'},{height:'196.3943'},{breakpoint:false},{lazyload:true},{retina:false})
								+picture({filename:'top-section-03-park-building'},{type:'svg',fallbackType:''},{alt:''},{classes:['']},{width:'192.2894'},{height:'156.5765'},{breakpoint:false},{lazyload:true},{retina:false})
								+picture({filename:'top-section-03-park-people'},{type:'svg',fallbackType:''},{alt:''},{classes:['']},{width:'244.9394'},{height:'169.4602'},{breakpoint:false},{lazyload:true},{retina:false})
								+picture({filename:'top-section-03-park-over-layer'},{type:'svg',fallbackType:''},{alt:''},{classes:['']},{width:'399.3015'},{height:'346.603'},{breakpoint:false},{lazyload:true},{retina:false})
								+picture({filename:'top-section-03-building-02'},{type:'svg',fallbackType:''},{alt:''},{classes:['']},{width:'95.3642'},{height:'179.8247'},{breakpoint:false},{lazyload:true},{retina:false})
								+picture({filename:'top-section-03-building-02-over-layer'},{type:'svg',fallbackType:''},{alt:''},{classes:['']},{width:'316.7965'},{height:'206.9107'},{breakpoint:false},{lazyload:true},{retina:false})
								+picture({filename:'top-section-03-building-03'},{type:'svg',fallbackType:''},{alt:''},{classes:['']},{width:'259.0139'},{height:'182.5404'},{breakpoint:false},{lazyload:true},{retina:false})
								+picture({filename:'top-section-03-building-03-over-layer'},{type:'svg',fallbackType:''},{alt:''},{classes:['']},{width:'392.6983'},{height:'299.2003'},{breakpoint:false},{lazyload:true},{retina:false})


			section.ep__section#job(data-ep="job" data-pc-href=root_path + "job.html")

				.top-job

					.top-job__lead
						.top-job__lead-content
							h2.top-job__lead-title
								+picture({filename:'top-section-04-title'},{type:'svg',fallbackType:''},{alt:'多彩なソリューションで企業と個人を支援する'},{classes:['']},{width:'330.2666'},{height:'267.0786'},{breakpoint:false},{lazyload:true},{retina:false})
							.top-job__lead-body
								p
									| 私たちMFBMは、オフィスビル（ビルオーナー）への価値提供に留まらず、オフィスビルに入居しているテナント企業や働く人々を幅広く支援するソリューションを提供しています。
								p
									| 変化していくビジネス、社会のニーズに応え続け、さらに変化を先んじて捉えることで、新たな価値を主体的に生み出す。テナント企業と働く人々の満足度を高めオフィスビルの価値向上を実現する、MFBMならではのソリューションについて紹介します。

					.top-job__peoples-wrapper
						.top-job__peoples
							.top-job__peoples-item
								+picture({filename:'top-section-04-photo-01'},{type:'webp',fallbackType:'jpg'},{alt:''},{classes:['']},{width:'467'},{height:'188'},{breakpoint:false},{lazyload:true},{retina:true})
							.top-job__peoples-item
								+picture({filename:'top-section-04-photo-02'},{type:'webp',fallbackType:'jpg'},{alt:''},{classes:['']},{width:'317'},{height:'188'},{breakpoint:false},{lazyload:true},{retina:true})
							.top-job__peoples-item
								+picture({filename:'top-section-04-photo-03'},{type:'webp',fallbackType:'jpg'},{alt:''},{classes:['']},{width:'150'},{height:'188'},{breakpoint:false},{lazyload:true},{retina:true})
							.top-job__peoples-item
								+picture({filename:'top-section-04-photo-04'},{type:'webp',fallbackType:'jpg'},{alt:''},{classes:['']},{width:'467'},{height:'375'},{breakpoint:false},{lazyload:true},{retina:true})
							.top-job__peoples-item
								+picture({filename:'top-section-04-photo-05'},{type:'webp',fallbackType:'jpg'},{alt:''},{classes:['']},{width:'233'},{height:'187'},{breakpoint:false},{lazyload:true},{retina:true})
							.top-job__peoples-item
								+picture({filename:'top-section-04-photo-06'},{type:'webp',fallbackType:'jpg'},{alt:''},{classes:['']},{width:'233'},{height:'187'},{breakpoint:false},{lazyload:true},{retina:true})
							.top-job__peoples-item
								+picture({filename:'top-section-04-photo-07'},{type:'webp',fallbackType:'jpg'},{alt:''},{classes:['']},{width:'467'},{height:'187'},{breakpoint:false},{lazyload:true},{retina:true})

						.top-job__peoples
							.top-job__peoples-item
								+picture({filename:'top-section-04-photo-08'},{type:'webp',fallbackType:'jpg'},{alt:''},{classes:['']},{width:'467'},{height:'375'},{breakpoint:false},{lazyload:true},{retina:true})
							.top-job__peoples-item
								+picture({filename:'top-section-04-photo-09'},{type:'webp',fallbackType:'jpg'},{alt:''},{classes:['']},{width:'233'},{height:'188'},{breakpoint:false},{lazyload:true},{retina:true})
							.top-job__peoples-item
								+picture({filename:'top-section-04-photo-10'},{type:'webp',fallbackType:'jpg'},{alt:''},{classes:['']},{width:'233'},{height:'188'},{breakpoint:false},{lazyload:true},{retina:true})
							.top-job__peoples-item
								+picture({filename:'top-section-04-photo-11'},{type:'webp',fallbackType:'jpg'},{alt:''},{classes:['']},{width:'150'},{height:'188'},{breakpoint:false},{lazyload:true},{retina:true})
							.top-job__peoples-item
								+picture({filename:'top-section-04-photo-12'},{type:'webp',fallbackType:'jpg'},{alt:''},{classes:['']},{width:'317'},{height:'188'},{breakpoint:false},{lazyload:true},{retina:true})
							.top-job__peoples-item
								+picture({filename:'top-section-04-photo-13'},{type:'webp',fallbackType:'jpg'},{alt:''},{classes:['']},{width:'150'},{height:'188'},{breakpoint:false},{lazyload:true},{retina:true})
							.top-job__peoples-item
								+picture({filename:'top-section-04-photo-14'},{type:'webp',fallbackType:'jpg'},{alt:''},{classes:['']},{width:'317'},{height:'188'},{breakpoint:false},{lazyload:true},{retina:true})
							.top-job__peoples-item
								+picture({filename:'top-section-04-photo-15'},{type:'webp',fallbackType:'jpg'},{alt:''},{classes:['']},{width:'467'},{height:'188'},{breakpoint:false},{lazyload:true},{retina:true})

			section.ep__section#project(data-ep="project" data-pc-href=root_path + "project.html")

				.top-project

					.top-project__lead
						h2.top-project__lead-title
							span.active-sp
								<svg id="projectTitleAnimationSp" width="492.9733" height="253.8074" viewBox="0 0 492.97 253.81" xmlns="http://www.w3.org/2000/svg">
									<image xlink:href="./assets/images/project-title-sp.svg" width="488.6137" height="250.2383" alt="PROJECT STORY" loading="lazy" mask="url(#projectTitleAnimationMaskSp)"></image>
									<defs>
										<mask id="projectTitleAnimationMaskSp" maskUnits="userSpaceOnUse">
											<g id="project-title-mask-sp">
												<line id="p-1-1-sp" x1="3.5" y1="106.27" x2="3.5" y2="4.02" fill="none" stroke="#fff" stroke-linecap="square" stroke-miterlimit="10" stroke-width="7"/>
												<path id="p-1-2-sp" d="m6.31,6.35s31.01-2.22,31.01,30.43c-.79,31.24-31.01,30.18-31.01,30.18" fill="none" stroke="#fff" stroke-linecap="square" stroke-miterlimit="10" stroke-width="7"/>
												<line id="r-1-1-sp" x1="59.73" y1="106.27" x2="59.73" y2="4.02" fill="none" stroke="#fff" stroke-linecap="square" stroke-miterlimit="10" stroke-width="7"/>
												<path id="r-1-2-sp" d="m62.54,6.35s31.64-2.22,31.64,30.43c-.79,31.24-31.64,30.64-31.64,30.64" fill="none" stroke="#fff" stroke-linecap="square" stroke-miterlimit="10" stroke-width="7"/>
												<line id="r-1-3-sp" x1="62.47" y1="71.03" x2="95.58" y2="106.27" fill="none" stroke="#fff" stroke-linecap="square" stroke-miterlimit="10" stroke-width="7"/>
												<path id="o-1-sp" d="m167.28,3.5c8.98,0,17.43,2.35,25.1,6.98,7.68,4.64,13.85,10.98,18.35,18.84,4.49,7.87,6.77,16.51,6.77,25.68s-2.3,17.98-6.84,25.9c-4.54,7.91-10.74,14.28-18.42,18.91-7.67,4.63-16.12,6.98-25.1,6.98s-17.43-2.35-25.1-6.98c-7.68-4.64-13.88-11-18.42-18.91-4.54-7.91-6.84-16.62-6.84-25.9s2.3-17.82,6.84-25.68c4.54-7.87,10.74-14.21,18.42-18.84,0,0,11.84-6.98,25.24-6.98" fill="none" stroke="#fff" stroke-linecap="square" stroke-miterlimit="10" stroke-width="7"/>
												<path id="j-sp" d="m243.86,6.24h27.73v68.32s.69,21.62-13.86,28.41c-14.55,6.79-29.7-.18-34.65-5.47" fill="none" stroke="#fff" stroke-linecap="square" stroke-miterlimit="10" stroke-width="7"/>
												<polyline id="e-1-sp" points="331.93 6.24 297.23 6.24 297.23 103.69 331.93 103.69" fill="none" stroke="#fff" stroke-linecap="square" stroke-miterlimit="10" stroke-width="7"/>
												<line id="e-2-sp" x1="297.23" y1="65.31" x2="326.67" y2="65.31" fill="none" stroke="#fff" stroke-linecap="square" stroke-miterlimit="10" stroke-width="7"/>
												<path id="c-sp" d="m424.54,12.11s-24.19-16.47-49.51-3.36c-25.32,13.1-32.58,39.84-26.74,61.27,5.84,21.43,24.07,32.3,34.43,35.07,15.24,4.08,28.67.58,41.82-6.53" fill="none" stroke="#fff" stroke-linecap="square" stroke-miterlimit="10" stroke-width="7"/>
												<line id="t-1-1-sp" x1="437.58" y1="6.29" x2="489.47" y2="6.29" fill="none" stroke="#fff" stroke-linecap="square" stroke-miterlimit="10" stroke-width="7"/>
												<line id="t-1-2-sp" x1="463.53" y1="4.02" x2="463.53" y2="106.27" fill="none" stroke="#fff" stroke-linecap="square" stroke-miterlimit="10" stroke-width="7"/>
												<path id="s-sp" d="m113.36,157.92s-7.52-9.07-17.78-10.52-16.91,3.65-20.45,10.52-.36,15.6,4.35,19.96,19.78,14.15,19.78,14.15c0,0,13.61,7.98,17.42,14.33s10.34,24.86-4.54,35.74c-14.88,10.89-38.46,6.53-47.72-12.7" fill="none" stroke="#fff" stroke-linecap="square" stroke-miterlimit="10" stroke-width="7"/>
												<line id="t-2-1-sp" x1="131.8" y1="148.88" x2="183.69" y2="148.88" fill="none" stroke="#fff" stroke-linecap="square" stroke-miterlimit="10" stroke-width="7"/>
												<line id="t-2-2-sp" x1="157.74" y1="146.61" x2="157.74" y2="248.86" fill="none" stroke="#fff" stroke-linecap="square" stroke-miterlimit="10" stroke-width="7"/>
												<path id="o-2-sp" d="m239.76,146.09c8.98,0,17.43,2.35,25.1,6.98,7.68,4.64,13.85,10.98,18.35,18.84,4.49,7.87,6.77,16.51,6.77,25.68s-2.3,17.98-6.84,25.9c-4.54,7.91-10.74,14.28-18.42,18.91-7.67,4.63-16.12,6.98-25.1,6.98s-17.43-2.35-25.1-6.98c-7.68-4.64-13.88-11-18.42-18.91-4.54-7.91-6.84-16.62-6.84-25.9s2.3-17.82,6.84-25.68c4.54-7.87,10.74-14.21,18.42-18.84,0,0,11.84-6.98,25.24-6.98" fill="none" stroke="#fff" stroke-linecap="square" stroke-miterlimit="10" stroke-width="7"/>
												<line id="r-2-1-sp" x1="311.26" y1="248.86" x2="311.26" y2="146.61" fill="none" stroke="#fff" stroke-linecap="square" stroke-miterlimit="10" stroke-width="7"/>
												<path id="r-2-2-sp" d="m314.08,148.94s31.64-2.22,31.64,30.43c-.79,31.24-31.64,30.64-31.64,30.64" fill="none" stroke="#fff" stroke-linecap="square" stroke-miterlimit="10" stroke-width="7"/>
												<line id="r-2-3-sp" x1="314" y1="213.62" x2="347.12" y2="248.86" fill="none" stroke="#fff" stroke-linecap="square" stroke-miterlimit="10" stroke-width="7"/>
												<line id="y-1-1-sp" x1="361.89" y1="146.61" x2="392.84" y2="207" fill="none" stroke="#fff" stroke-linecap="square" stroke-miterlimit="10" stroke-width="7"/>
												<line id="y-1-2-sp" x1="422.84" y1="146.61" x2="392.84" y2="207" fill="none" stroke="#fff" stroke-linecap="square" stroke-miterlimit="10" stroke-width="7"/>
												<line id="y-1-3-sp" x1="392.84" y1="207" x2="392.84" y2="248.86" fill="none" stroke="#fff" stroke-linecap="square" stroke-miterlimit="10" stroke-width="7"/>
											</g>
										</mask>
									</defs>
								</svg>
							span.active-tb-pc
								<svg id="projectTitleAnimation" width="939" height="310" viewBox="0 0 890.27 107.65" xmlns="http://www.w3.org/2000/svg">
									<image xlink:href="./assets/images/project-title.svg" width="901.0709" height="107.6504" alt="PROJECT STORY" loading="lazy" mask="url(#projectTitleAnimationMask)"></image>
									<defs>
										<mask id="projectTitleAnimationMask" maskUnits="userSpaceOnUse">
											<g id="project-title-mask">
												<line id="p-1-1" x1="3.5" y1="106.96" x2="3.5" y2="4.71" fill="none" stroke="#fff" stroke-miterlimit="10" stroke-width="15"/>
												<path id="p-1-2" d="m6.31,7.04s31.01-2.22,31.01,30.43c-.79,31.24-31.01,30.18-31.01,30.18" fill="none" stroke="#fff" stroke-miterlimit="10" stroke-width="15"/>
												<line id="r-1-1" x1="59.73" y1="106.96" x2="59.73" y2="4.71" fill="none" stroke="#fff" stroke-miterlimit="10" stroke-width="15"/>
												<path id="r-1-2" d="m62.54,7.04s31.64-2.22,31.64,30.43c-.79,31.24-31.64,30.64-31.64,30.64" fill="none" stroke="#fff" stroke-miterlimit="10" stroke-width="15"/>
												<line id="r-1-3" x1="62.47" y1="71.72" x2="95.58" y2="106.96" fill="none" stroke="#fff" stroke-miterlimit="10" stroke-width="15"/>
												<path id="o-1" d="m167.28,4.19c8.98,0,17.43,2.35,25.1,6.98,7.68,4.64,13.85,10.98,18.35,18.84,4.49,7.87,6.77,16.51,6.77,25.68s-2.3,17.98-6.84,25.9c-4.54,7.91-10.74,14.28-18.42,18.91-7.67,4.63-16.12,6.98-25.1,6.98s-17.43-2.35-25.1-6.98c-7.68-4.64-13.88-11-18.42-18.91-4.54-7.91-6.84-16.62-6.84-25.9s2.3-17.82,6.84-25.68c4.54-7.87,10.74-14.21,18.42-18.84,0,0,11.84-6.98,25.24-6.98" fill="none" stroke="#fff" stroke-miterlimit="10" stroke-width="15"/>
												<path id="j" d="m243.86,6.93h27.73v68.32s.69,21.62-13.86,28.41-29.7-.18-34.65-5.47" fill="none" stroke="#fff" stroke-miterlimit="10" stroke-width="15"/>
												<polyline id="e-1" points="331.93 6.93 297.23 6.93 297.23 104.38 331.93 104.38" fill="none" stroke="#fff" stroke-miterlimit="10" stroke-width="15"/>
												<line id="e-2" x1="297.23" y1="66" x2="326.67" y2="66" fill="none" stroke="#fff" stroke-miterlimit="10" stroke-width="15"/>
												<path id="c" d="m424.54,12.8s-24.19-16.47-49.51-3.36-32.58,39.84-26.74,61.27,24.07,32.3,34.43,35.07c15.24,4.08,28.67.58,41.82-6.53" fill="none" stroke="#fff" stroke-miterlimit="10" stroke-width="15"/>
												<line id="t-1-1" x1="437.58" y1="6.98" x2="489.47" y2="6.98" fill="none" stroke="#fff" stroke-miterlimit="10" stroke-width="15"/>
												<line id="t-1-2" x1="463.53" y1="4.71" x2="463.53" y2="106.96" fill="none" stroke="#fff" stroke-miterlimit="10" stroke-width="15"/>
												<path id="s" d="m578.57,16.02s-7.52-9.07-17.78-10.52-16.91,3.65-20.45,10.52-.36,15.6,4.35,19.96,19.78,14.15,19.78,14.15c0,0,13.61,7.98,17.42,14.33s10.34,24.86-4.54,35.74-38.46,6.53-47.72-12.7" fill="none" stroke="#fff" stroke-miterlimit="10" stroke-width="15"/>
												<line id="t-2-1" x1="597.01" y1="6.98" x2="648.91" y2="6.98" fill="none" stroke="#fff" stroke-miterlimit="10" stroke-width="15"/>
												<line id="t-2-2" x1="622.96" y1="4.71" x2="622.96" y2="106.96" fill="none" stroke="#fff" stroke-miterlimit="10" stroke-width="15"/>
												<path id="o-2" d="m704.98,4.19c8.98,0,17.43,2.35,25.1,6.98,7.68,4.64,13.85,10.98,18.35,18.84,4.49,7.87,6.77,16.51,6.77,25.68s-2.3,17.98-6.84,25.9c-4.54,7.91-10.74,14.28-18.42,18.91-7.67,4.63-16.12,6.98-25.1,6.98s-17.43-2.35-25.1-6.98c-7.68-4.64-13.88-11-18.42-18.91-4.54-7.91-6.84-16.62-6.84-25.9s2.3-17.82,6.84-25.68c4.54-7.87,10.74-14.21,18.42-18.84,0,0,11.84-6.98,25.24-6.98" fill="none" stroke="#fff" stroke-miterlimit="10" stroke-width="15"/>
												<line id="r-2-1" x1="776.48" y1="106.96" x2="776.48" y2="4.71" fill="none" stroke="#fff" stroke-miterlimit="10" stroke-width="15"/>
												<path id="r-2-2" d="m779.29,7.04s31.64-2.22,31.64,30.43c-.79,31.24-31.64,30.64-31.64,30.64" fill="none" stroke="#fff" stroke-miterlimit="10" stroke-width="15"/>
												<line id="r-2-3" x1="779.22" y1="71.72" x2="812.33" y2="106.96" fill="none" stroke="#fff" stroke-miterlimit="10" stroke-width="15"/>
												<line id="y-1-1" x1="827.11" y1="4.71" x2="858.06" y2="65.1" fill="none" stroke="#fff" stroke-miterlimit="10" stroke-width="15"/>
												<line id="y-1-2" x1="888.05" y1="4.71" x2="858.06" y2="65.1" fill="none" stroke="#fff" stroke-miterlimit="10" stroke-width="15"/>
												<line id="y-1-3" x1="858.06" y1="65.1" x2="858.06" y2="106.96" fill="none" stroke="#fff" stroke-miterlimit="10" stroke-width="15"/>
											</g>
										</mask>
									</defs>
								</svg>
							//- img(src=root_path + image_dir + "project-title.svg" width="901.0709" height="107.6504" alt="PROJECT STORY" loading="lazy")
							//- +picture({filename:'project-title'},{type:'svg',fallbackType:''},{alt:'PROJECT STORY'},{classes:['']},{width:'901.0709'},{height:'107.6504'},{breakpoint:false},{lazyload:true},{retina:false})
						h3.top-project__lead-sub-title
							+picture({filename:'top-section-05-title-02'},{type:'svg',fallbackType:''},{alt:'東京ミッドタウン日比谷'},{classes:['']},{width:'533'},{height:'103'},{breakpoint:true},{lazyload:true},{retina:false})

					.top-project__bg
						+picture({filename:'top-section-05-bg'},{type:'webp',fallbackType:'jpg'},{alt:''},{classes:['']},{width:'1400'},{height:'750'},{breakpoint:true},{lazyload:true},{retina:true})

			section.ep__section#person(data-ep="person" data-pc-href=root_path + "person/")

				.persons
					.persons__solo
						-
							const personTotal = 5;
						- for (let i=0; i < personTotal; i++)
							- let num = ('00' + (i + 1)).slice(-2);
							.persons__solo-item
								+picture({filename:`top-section-06-single-${num}`},{type:'jpg',fallbackType:'jpg'},{alt:''},{classes:['']},{width:'1400'},{height:'750'},{breakpoint:false},{lazyload:true},{retina:true})
					h2.persons__title
						span.persons__title-text
							+picture({filename:'top-section-06-title'},{type:'svg',fallbackType:''},{alt:''},{classes:['']},{width:'967.9763'},{height:'202.0615'},{breakpoint:true},{lazyload:true},{retina:false})
						.persons__title__bg
					.persons__bg
						.persons__bg-content
							.persons__bg-images-wrap
								+picture({filename:'person-all-01'},{type:'webp',fallbackType:'png'},{alt:''},{classes:['']},{width:'596'},{height:'702'},{breakpoint:true},{lazyload:true},{retina:true})
								+picture({filename:'person-all-02'},{type:'webp',fallbackType:'png'},{alt:''},{classes:['']},{width:'543'},{height:'701'},{breakpoint:true},{lazyload:true},{retina:true})
								+picture({filename:'person-all-03'},{type:'webp',fallbackType:'png'},{alt:''},{classes:['']},{width:'534'},{height:'666'},{breakpoint:true},{lazyload:true},{retina:true})
								+picture({filename:'person-all-04'},{type:'webp',fallbackType:'png'},{alt:''},{classes:['']},{width:'624'},{height:'519'},{breakpoint:true},{lazyload:true},{retina:true})
								+picture({filename:'person-all-05'},{type:'webp',fallbackType:'png'},{alt:''},{classes:['']},{width:'397'},{height:'544'},{breakpoint:true},{lazyload:true},{retina:true})

			section.ep__section#culture(data-ep="culture" data-pc-href=root_path + "culture.html")

				.top-culture

					.top-culture__copy-list
						.top-culture__copy-list-item
							+picture({filename:'culture-copy-01'},{type:'svg',fallbackType:''},{alt:'働く環境'},{classes:['']},{width:'64.1462'},{height:'314.0695'},{breakpoint:false},{lazyload:true},{retina:false})
						.top-culture__copy-list-item
							+picture({filename:'culture-copy-02'},{type:'svg',fallbackType:''},{alt:'やりがい'},{classes:['']},{width:'58.2729'},{height:'279.09'},{breakpoint:false},{lazyload:true},{retina:false})
						.top-culture__copy-list-item
							+picture({filename:'culture-copy-03'},{type:'svg',fallbackType:''},{alt:'高めあうチーム'},{classes:['']},{width:'54.7092'},{height:'474.9152'},{breakpoint:false},{lazyload:true},{retina:false})

					.top-culture__lead
						.top-culture__lead-body
							p 
								| 個人の強みを活かしながらも、個では達成できない目標をチームで成し遂げる。それが私たちMFBMが目指す姿です。環境変化の激しいVUCA時代に柔軟に対応し、ビジネスシーンに新たな価値を提供し続ける、MFBMのカルチャーの一端を紹介します。

					.top-culture__bg
						.top-culture__bg-items
							.top-culture__bg-item.top-culture__bg-item--sample
								include include/svg/culture-data-sample.svg

							.top-culture__bg-item.top-culture__bg-item--vertical-bar-graph-01
								.top-culture__bg-vertical-bar-graph
									.top-culture__bg-vertical-bar-graph-item
									.top-culture__bg-vertical-bar-graph-item
									.top-culture__bg-vertical-bar-graph-item
							.top-culture__bg-item.top-culture__bg-item--fukidashi-purple-01
								include include/svg/culture-fukidashi-purple.svg
							.top-culture__bg-item.top-culture__bg-item--fukidashi-purple-01
								include include/svg/culture-fukidashi-purple.svg
							.top-culture__bg-item.top-culture__bg-item--bar-graph-01
								include include/svg/culture-bar-graph.svg


							//- .top-culture__bg-item.top-culture__bg-item--pie-chart-01
							//- 	include include/svg/culture-pie-chart.svg

							//- include include/svg/culture-annai.svg
							//- include include/svg/culture-bar-graph.svg
							//- include include/svg/culture-drawing.svg
							//- include include/svg/culture-fukidashi-blue.svg
							//- include include/svg/culture-fukidashi-deep-blue.svg
							//- include include/svg/culture-fukidashi-deep-green.svg
							//- include include/svg/culture-fukidashi-green.svg
							//- include include/svg/culture-fukidashi-pale-blue.svg
							//- include include/svg/culture-fukidashi-purple.svg
							//- include include/svg/culture-making.svg
							//- include include/svg/culture-making2.svg
							//- include include/svg/culture-walking.svg

			section.ep__section#epilogue(data-ep="epilogue")

				.top-epilogue
					.top-epilogue__lead
						h2.top-epilogue__lead-title
							+picture({filename:'top-section-end-title'},{type:'svg',fallbackType:''},{alt:''},{classes:['']},{width:'372.2914'},{height:'29.9146'},{breakpoint:false},{lazyload:true},{retina:false})
						.top-epilogue__lead-body
							p
								| 創業以来、オフィスビルのスペシャリストとして
								br.active-sp
								| 挑戦し続ける私たちMFBMにとって、
								br
								| オフィスビルはまだまだ無限の可能性が
								br.active-sp
								| 秘められているフィールドです。
							p
								| 新しい時代の新しいオフィスの在り方、
								br
								| オフィスビルを中心としたエリアマネジメント、
								br
								| そして働く人々への新しい「働き方」の提案など
								br
								| 目指すのは「ビジネスシーンの明日を変えていく」こと。
							p
								| まだ誰も見たことのない
								br.active-sp
								| 新たな未来にともに挑戦しよう！
					.top-epilogue__bg
						+picture({filename:'top-section-end-bg'},{type:'webp',fallbackType:'jpg'},{alt:''},{classes:['']},{width:'1400'},{height:'750'},{breakpoint:true},{lazyload:true},{retina:true})


			section.ep__section#topFooter(data-ep="topFooter")
				include include/_footer.pug

			.ep__navigation
				a(href="#prologue").ep__navigation-link.--active
					span.ep__navigation-link-icon
					span.ep__navigation-link-text
						| TOP
				a(href="#about").ep__navigation-link
					span.ep__navigation-link-icon
					span.ep__navigation-link-text
						| ABOUT
				a(href="#business").ep__navigation-link
					span.ep__navigation-link-icon
					span.ep__navigation-link-text
						| BUSINESS
				a(href="#job").ep__navigation-link
					span.ep__navigation-link-icon
					span.ep__navigation-link-text
						| JOB
				a(href="#project").ep__navigation-link
					span.ep__navigation-link-icon
					span.ep__navigation-link-text
						| PROJECT
				a(href="#person").ep__navigation-link
					span.ep__navigation-link-icon
					span.ep__navigation-link-text
						| PERSON
				a(href="#culture").ep__navigation-link
					span.ep__navigation-link-icon
					span.ep__navigation-link-text
						| CULTURE
				a(href="#epilogue").ep__navigation-link
					span.ep__navigation-link-icon
					span.ep__navigation-link-text
						| FOOTER

			.ep__section-label
				ul.ep__section-label__links
					li.ep__section-label__links-item.--active(data-top-to="about")
						a.ep__section-label__link(href=root_path + "about/")
							svg(aria-label="ABOUT" viewBox="0 0 143 32")
								use(xlink:href=assets_path + image_dir + 'sprite.svg#ryumin-about')
					li.ep__section-label__links-item(data-top-to="business")
						a.ep__section-label__link(href=root_path + "business.html")
							svg(aria-label="BUSINESS" viewBox="0 0 193 32")
								use(xlink:href=assets_path + image_dir + 'sprite.svg#ryumin-business')
					li.ep__section-label__links-item(data-top-to="job")
						a.ep__section-label__link(href=root_path + "job.html")
							svg(aria-label="JOB" viewBox="0 0 58 32")
								use(xlink:href=assets_path + image_dir + 'sprite.svg#ryumin-job')
					li.ep__section-label__links-item(data-top-to="project")
						a.ep__section-label__link(href=root_path + "project.html")
							svg(aria-label="PROJECT" viewBox="0 0 150 32")
								use(xlink:href=assets_path + image_dir + 'sprite.svg#ryumin-project')
					li.ep__section-label__links-item(data-top-to="person")
						a.ep__section-label__link(href=root_path + "person/")
							svg(aria-label="PERSON" viewBox="0 0 159 32")
								use(xlink:href=assets_path + image_dir + 'sprite.svg#ryumin-person')
					li.ep__section-label__links-item(data-top-to="culture")
						a.ep__section-label__link(href=root_path + "culture.html")
							svg(aria-label="CULTURE" viewBox="0 0 190 32")
								use(xlink:href=assets_path + image_dir + 'sprite.svg#ryumin-culture')
				p.ep__section-label__click
					span.ep__section-label__click-text
						| CLICK
					svg(aria-label="→" viewBox="0 0 249 32").ep__section-label__click-icon
							use(xlink:href=assets_path + image_dir + 'sprite.svg#arrow-type-bottom')

			.ep__section-scroll
				p.ep__section-scroll-text
					|	SCROLL

			.ep__bottom-gradient
